mat-card {
  min-height: 300px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url('/assets/film.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
