<div class="container">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style"  [value]="currentResource" (change)="onToggleResource($event.value)">
    <mat-button-toggle [value]="ResourceType.People">People</mat-button-toggle>
    <mat-button-toggle [value]="ResourceType.Planets">Planet</mat-button-toggle>
    <mat-button-toggle [value]="ResourceType.Films">Film</mat-button-toggle>
    <mat-button-toggle [value]="ResourceType.Species">Species</mat-button-toggle>
    <mat-button-toggle [value]="ResourceType.Starships">Starship</mat-button-toggle>
    <mat-button-toggle [value]="ResourceType.Vehicles">Vehicle</mat-button-toggle>
  </mat-button-toggle-group>
</div>
